/* CLASE 22 */

/* Selector: etiqueta */
span{
  color:darkmagenta;
  font-size: 20px;
}

/* Selector: clase */
.txt{
  font-weight: bold;
  color: tomato;
}

/* Selector: ID */
#texto{
  font-size: 20px;
  color: teal;
}

/* Clase 23 */

.main-nav{
  margin: 20px 0;
  list-style: none;
  padding-left: 0px;
  background-color: cadetblue;
}

.main-nav__item{
  display: inline-block;  
}

.main-nav__item a{
  color: azure;
  padding: 5px;  
  text-decoration: none;
}

.main-nav__item a:hover {
  color: darkblue;
}

.main-nav__item a:active {
  color: sienna;
}

.main-nav__item a::after {
  content: " | ";
}

/* Clase 25 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  width: 100%;
  height: 300px;
  border: 15px solid slategrey;
  padding: 20px 35px;
}