@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700&display=swap");

/* ROJO MR ROBOT #df2d2f  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Barlow", sans-serif;
  color: whitesmoke;
  background-image: linear-gradient(
    to right,
    #111111,
    #191919,
    #202020,
    #272727,
    #2f2f2f,
    #2f2f2f,
    #2f2f2f,
    #2f2f2f,
    #272727,
    #202020,
    #191919,
    #111111
  );
}

.container {
  margin: 0 auto;
  width: 70vw;  
}

header {
  padding: 1.5rem 0;
  width: 100%;  
}

.main__logo {
  display: inline-block;
  position: absolute;
  left: 15%;
}

.main__logo {
  padding-left: 2rem;
  width: 45%;
}

.main__logo img {
  width: 12rem;
}

.main__nav {
  display: inline-block;
  position: absolute;
  right: 15%;
}

.main__nav ul {
  list-style: none;
}

.main__nav ul li {
  display: inline-block;
}

.main__nav .nav__item {
  text-decoration: none;
  color: whitesmoke;
  padding: 0.5rem 2rem;
  margin-left: 2rem;
  border-bottom: 0.2rem solid transparent;
}

.main__nav .nav__item:hover {
  color: #df2d2f;
  border-bottom: 0.1rem solid #df2d2f;
}

section {
  margin-top: 2.5rem;
  min-height: 10rem;
  width: 100%;
  min-width: 60rem;  
}

.section__aside {
  min-width: 20rem;
  width: 25%;
  min-height: 50rem;
  padding: 1rem 0;
  display: inline-block;
  margin-right: 5rem;
  
  border-right: 0.1rem #df2d2f solid; 
}

.aside__item {
  min-width: 15rem;
  min-height: 8.4rem;
  width: 80%;
  height: 18rem;
  margin: 0 auto 1rem 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-shadow: -0.1rem 0.1rem 0.3rem #444444, 0.1rem -0.1rem 0.3rem #444444;
}

.aside__item h3 {
  font-weight: normal;
  font-size: 1.5rem;
}

.aside__item p {
  font-weight: lighter;
  font-size: 1.3rem;
}

.ep1,
.ep2,
.ep3,
.ep4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ep1 {
  background-image: url(https://m.media-amazon.com/images/M/MV5BOTk5NjE3MTU4NV5BMl5BanBnXkFtZTgwNjczMzk5NTE@._V1_FMjpg_UX900_.jpg);
}

.ep2 {
  background-image: url(https://m.media-amazon.com/images/M/MV5BZjIzZGNlZDAtN2NmMi00NzNlLWEyNmItNjI1M2M3ZThlMmZmXkEyXkFqcGdeQXVyNzgxMzc3OTc@._V1_FMjpg_UX1280_.jpg);
}

.ep3 {
  background-image: url(https://m.media-amazon.com/images/M/MV5BMTg5OTkyMDc0M15BMl5BanBnXkFtZTgwMjA4MzgxNjE@._V1_FMjpg_UX900_.jpg);
}

.ep4 {
  background-image: url(https://m.media-amazon.com/images/M/MV5BMjMxMzQyODg3OV5BMl5BanBnXkFtZTgwODQ4MzgxNjE@._V1_FMjpg_UX900_.jpg);
}

.section__content {
  margin-top: 0.8rem;
  border-radius: 1rem;
  padding: 2rem;
  display: inline-block;
  position: absolute;
  width: 49.4%;
  min-height: 75rem;

  background-image: url(https://m.media-amazon.com/images/M/MV5BMTg2MDM5MzgyMl5BMl5BanBnXkFtZTgwMTkzMzk5NTE@._V1_FMjpg_UX900_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-container {
  padding: 1.5rem;
  position: relative;
  top: 40rem;
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.50);
}

.section-container h3{
  font-size: 3rem;
  color: #df2d2f;
  background-color: black;
  width: 25%;
  text-transform: uppercase;
}

.section-container p{
  font-size: 1.8rem;
  font-weight: lighter;  
  text-align: justify;
}

.red{
  color: #df2d2f;
  font-weight: normal;
  background-color: black ;  
}