/* Clase 27 y 28 */
/* Clase 29 | Corección de conflictos */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  color: brown;
  margin-bottom: 10px;
  font-family: serif; /*Este estilo no se esta aplicando por que el selector tiene menos peso de especificidad que el ID #page-title*/
}

/*No es buena practica aplicar estilos mediante ID's*/
/* #page-title{ 
  font-family: Arial, Helvetica, sans-serif;
} */

.title{
  font-size: 18px;
  font-family: sans-serif; /*SOLUCIONADO*//*Este estilo no se esta aplicando por que el selector tiene menos peso de especificidad que el ID #page-title*/
}

/*No es buena practica aplicar estilos mediante ID's*/
/*#main-nav*/ .nav{
  list-style: none;
  margin-top: 10px;
  padding-left: 0px;
}

/*No es buena practica aplicar estilos mediante ID's*/
/*#main-nav*/ .nav li{
  display: inline-block;
}

/*No es buena practica aplicar estilos mediante ID's*/
/*#main-nav*/ .nav a{
  text-decoration: none;
  color: antiquewhite;
  background-color: darkcyan;
  padding: 5px;
  border-radius: 2px;
}

.nav .destacado{
  background-color: orange ;
}