*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

/* Clase 38 */
.block-element{
  background-color: teal;
  margin: 10px;
  padding: 20px;  
}
.nav{
  background-color: seagreen;
  padding: 20px;
  list-style: none;
  text-align: center;
}

.nav li{
  display: inline-block;
  font-size: 2rem;
  margin: 1rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}